reset {
	margin: 10;
	padding: 30PX;
	border: none;
	outline: none;
	background: transparent;
}

transition {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

body {
	background: hsl(184, 78%, 47%);
	margin-top: 2rem;
}

.tasker {
	max-width: 600px;
	margin: 0 auto;
}

input {
	margin-right: 10px;
	margin-bottom: 10;
}

h1 {
	color: white;
	font-size: 36px;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
}

.center {
	text-align: center;
	border: 20px solid rgb(32, 34, 32);
}

ul {
	padding: 0 20px;
}

li {
	font-size: 24px;
	background-color: #e6bfe6;
	padding: 10px;
	margin-bottom: 10px;
}

form {
	margin: 40px;
	padding: 30px;
	background-color: #fff;
}

  
 